# Ignore bundler config.
/.bundle

# Secrets
.env
.env.*
!.env.example
**/secrets.yml
**/credentials.yml

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key

# macOS
.DS_Store

# Docker
docker-compose.override.yml

# Editor
.vscode/
.idea/

terraform/.terraform/
terraform/**/.terraform/
terraform/**/.terraform.lock.hcl
terraform/**/terraform.tfstate
terraform/**/terraform.tfstate.backup
terraform/**/*.tfvars
terraform/**/*.tfvars.json
terraform/**/.terraform.tfstate.lock.info
*.tfvars
*.tfvars.json

.aws/
*.pem
aws-credentials.txt
